@import '../common/variables';

.hero-main{
    position: relative;
    height: 100vh;
    .vanta{
        height: 100%;
    }
    .hero-welcome{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        z-index: 10;
        font-family: $font-family-secondary;
        padding: 30px;
        backdrop-filter: blur(10px);
        color: $light-primary;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        p{
            margin: 0;
            font-size: 30pt;
            line-height: 1.5;
            @media (min-width: 900px){
                font-size: 40pt;
            }
            @media (min-width: 1200px){
                font-size: 50pt;
            }
            &.name{
                color: $colorful-primary;
            }
        }
    }
}