.hero-main{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main .hero-welcome{
    color: white;
    max-width: 80vw;
    padding: 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4rem;
}

.hero-main .hero-welcome p{
    margin: 0;
    font-size: 4rem;
    line-height: 6rem;
}

.hero-main .hero-welcome  p.name{
    color: #ffee00;
}