@import '../common/variables';

.proficiencies-main{
    .proficiency-main{
        margin-bottom: 5px;
        display: flex;
        border-radius: 5px 20px 20px 5px;
        transform: translateX(20px);
        .title{
            color: $light-primary;
            background-color: $dark-primary;
            padding: 5px 15px 5px 10px;
            flex: 2;
            z-index: 2;
            border-radius: inherit;
        }
        .scale{
            // box-sizing: content-box;
            border-radius: inherit;
            transform: translateX(-20px);
            flex: 6;
            display: flex;
            .active{
                flex: 3;
                background-image: linear-gradient(to right, $colorful-primary 30%, $colorful-tertiary);
                border-radius: inherit;
                z-index: 1;
            }
            .passive{
                flex: 1;
                border-radius: inherit;
                background-color: $light-secondary;
                transform: inherit;
                z-index: 0;
            }
        }
    }
}