@import '../common/variables';

html{
  body{
    font-family: $font-family-primary;
    font-size: 110%;
    margin: 0;
    padding: 0;
    background-color: $light-primary;
    line-height: 1.2;
    .app{
      .no-scrollbars{
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            display: none;
        }
      }
      .body>div{
        padding-top: 50px;
        padding-bottom: 50px;
        &.grad-line{
          padding: 0;
          margin:0;
          height: 2px;
        }
      }
      .header{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        h2{
          font-weight: $font-weight-bold;
          margin-top: 0;
        }
        &.dark{
          color: $dark-primary;
        }
        &.light{
          color: $light-primary;
        }
        &.section{
          text-align: center;
        }
        &.underline{
          margin-bottom: 20px;
          border-bottom: solid 3px;
          max-width: 250px;
        }
      }
      .nav{
        position: sticky;
        top: 55px;
        z-index: 100000;
        .navbar-main{
          top: -55px;
          position: absolute;
        }
      }
    }
  }
}

