@import '../common/variables';

.skills-main{
    .skills{
        .skill-main{   
            @media (max-width: 576px) {
                padding-left: 20px !important;
            }         
            margin-top: 10px;
            margin-bottom: 20px;
            svg{
                width: 80px;
                .polygon{
                    fill: $light-secondary;
                }
                .icon, .icon *{
                    fill: $dark-primary;
                }
            }
            .title{
                color: $dark-secondary;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            p{
                margin: 0;
            }
            &.dark{
                .title{
                    // color: $colorful-primary;
                    color: $light-primary;
                }
                p{
                    color: $light-secondary;
                }
                svg{
                    .polygon{
                        fill: $dark-secondary;
                        opacity: 0.2;
                    }
                    .icon, .icon *{
                        fill: $light-secondary;
                    }
                }
            }
        }
    }
}