@import '../common/variables';

.skills-main{
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .skill-main{
            text-align: center;
            flex-basis: 90%;
            @media (min-width: 1200px){
                flex-basis: 40%;
            }
            svg{
                width: 100px;
                .polygon{
                    fill: $colorful-tertiary;
                }
                .icon, .icon *{
                    fill: $light-primary;
                }
            }
            .title{
                color: $dark-secondary;
                margin: 5px 0;
            }
            p{
                text-align: center;
                margin: 0 0 20px 0;
            }
        }
    }
}