@import '../common/variables';

.more-main{
    div.resume{
        display: flex;
        justify-content: center;
        a{
            padding: 20px;
            border-radius: 10px;
            background-color: $colorful-secondary;
            color: $dark-primary;
            text-decoration: none;
            font-weight: $font-weight-black;
            font-size: 16pt;
        }
    }
    .terminal{
        background-color: $dark-primary;
        overflow: hidden;
        .no-scrollbars{
            overflow-y: scroll;
            scrollbar-width: none;  /* Firefox */
            -ms-overflow-style: none;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .myterminal-main{
            cursor: text;
            height: 500px;
            // padding: 20px 0;
            .input{
                margin: 15px 0;
                font-family: monospace;
                font-size: 16px;
                font-weight: bold;
                align-items: flex-start;
                .symbol{
                    max-width: 15px;
                    color: $colorful-secondary;
                    font: inherit;
                }
                .textarea{
                    word-break: break-all;
                    padding: 0;
                    color: $light-primary;
                    font: inherit;
                    caret-color: $colorful-secondary;
                    outline: none;
                }
            }
        }
    }
}