@import '../common/variables';

.more-main{
    div.resume{
        display: flex;
        justify-content: center;
        a{
            padding: 20px;
            border-radius: 10px;
            background-color: rgba($color: $colorful-secondary, $alpha: 0.8);
            color: $dark-primary;
            text-decoration: none;
            font-weight: $font-weight-black;
            font-size: 16pt;
            &:hover{
                background-color: rgba($color: $colorful-secondary, $alpha: 1);
            }
        }
    }
    .terminal{
        overflow: hidden;
        .myterminal-main{
            background-color: $dark-primary;
            cursor: text;
            height: 60vh;
            overflow-y: auto;
            padding: 20px;
            position: relative;
            .loader-wrapper{
                position: sticky;
                top: 0;
                .loader{
                    top: 0px;
                    right: 0px;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                }
                .loader:after {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    border-color: $colorful-secondary transparent $colorful-secondary transparent;
                    animation: loader 1.2s linear infinite;
                }
                @keyframes loader{
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                  }
            }
              
            .element{
                margin: 15px 0;
                font-family: $font-family-tertiary;
                font-size: 12pt;
                .colorful{
                    color: $colorful-secondary;
                }
                &.input{
                    .textarea{
                        color: $colorful-secondary;
                    }
                }
                &.output{
                    .textarea{
                        font-weight: $font-weigh-light;
                        color: $light-secondary;
                    }
                }
                .symbol{
                    color: $colorful-secondary;
                    max-width: 15px;
                }
                .textarea{
                    white-space:pre-wrap;
                    word-break: break-all;
                    caret-color: $colorful-secondary;
                    outline: none;
                    & > div{
                        padding-left: 0 !important;
                    }
                    .hyphen{
                        max-width: 10px;
                    }
                    .data{
                        padding-left: 10px
                    }
                    .hyphen + .data > .data{
                        padding-left: 0;
                    }
                    .object{
                        padding-left: 20px;
                    }
                }
            }
            &.dark{
                background-color: $dark-secondary;
            }
        }
    }
    &.dark{
        background-color: $dark-tertiary;
        div.resume{
            a{
                color: $dark-secondary;
                background-color: rgba($color: $colorful-primary, $alpha: 0.95);
                &:hover{
                    background-color: rgba($color: $colorful-primary, $alpha: 1);
                }
            }
        }
        .terminal{
            .myterminal-main{
                .loader-wrapper{
                    .loader:after{
                        border-color: $colorful-primary transparent $colorful-primary transparent;
                    }
                }
                .element{
                    .colorful{
                        color: $colorful-primary;

                    }
                    &.input{
                        .textarea{
                            color: $colorful-primary;
                        }
                    }
                    .symbol{
                        color: $colorful-primary;
                    }
                    .textarea{
                        caret-color: $colorful-primary;

                    }
                }
            }
        }
    }
}