@import '../common/variables';

.more-main{
    div.resume{
        display: flex;
        justify-content: center;
        a{
            padding: 20px;
            border-radius: 10px;
            background-color: $colorful-primary;
            color: $dark-primary;
            text-decoration: none;
            font-weight: $font-weight-black;
            font-size: 16pt;
            opacity: 0.9;
            &:hover{
                opacity: 1;
            }
        }
    }
    .terminal{
        overflow: hidden;
        .myterminal-main{
            background-color: $dark-primary;
            cursor: text;
            height: 50vh;
            overflow-y: auto;
            padding: 20px;
            .element{
                margin: 15px 0;
                font-family: $font-family-tertiary;
                font-size: 12pt;
                &.input{
                    .textarea{
                        color: $light-primary;
                    }
                }
                &.output{
                    .textarea{
                        font-weight: $font-weigh-light;
                        color: $light-secondary;
                    }
                }
                .symbol{
                    color: $colorful-primary;
                    max-width: 15px;
                }
                .textarea{
                    white-space:pre-wrap;
                    word-break: break-all;
                    caret-color: $colorful-primary;
                    outline: none;
                    & > div{
                        padding-left: 0 !important;
                    }
                    .hyphen{
                        max-width: 10px;
                    }
                    .data{
                        padding-left: 10px
                    }
                    .hyphen + .data > .data{
                        padding-left: 0;
                    }
                    .object{
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}