@import "../common/variables";

.about-main {
  p.dark {
    font-weight: $font-weigh-light;
    color: $dark-primary;
  }
  .container {
    &>.row {
		&>div{
			margin: 20px 0;
		}
		#image {
			align-self: center;
		}
    }
  }
  &.dark{
    background-color: $dark-tertiary;
  }
}
