@import '../common/variables';

.contact-main{
    background-color: $dark-primary;
    padding: 50px 0;
    h4{
        color: $light-secondary;
        .colorful{
            color: $colorful-secondary;
        }
        text-align: center;
    }
    .media{
        display: flex;
        max-width: 700px;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        a{
            flex-basis: 60px;
            margin: 0px 0 10px 0;
            svg{
                fill: $light-secondary;
                .transparent{
                    fill: $dark-primary;
                }
            }
            svg:hover{
                fill:inherit;
            }
            
        }
        a:hover:nth-child(odd){
            fill: $colorful-primary;
        }
        a:hover:nth-child(even){
            fill: $colorful-tertiary;
        }
    }
}