@import '../common/variables';

.contact-main{
    background-color: $dark-primary;
    padding: 50px 0;
    h4{
        color: $light-secondary;
        .colorful{
            color: $colorful-secondary;
        }
        text-align: center;
    }
    .media{
        .row{
            align-items: center;
            a{
                svg{
                    max-height: 60px;
                    fill: $light-secondary;
                    .transparent{
                        fill: $dark-primary;
                    }
                }
                svg:hover{
                    fill:inherit;
                }
                
            }
            a:hover{
                fill: $colorful-secondary;
            }
        }
    }
}