@import '../common/variables';

.navbar-main{
    &.sticky{
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
        position: sticky;
        top: 0;
        z-index: 100;
    }
    background-color: $dark-primary;
    .navbar-links{
        padding: 15px;
        overflow: auto;
        white-space: nowrap;
        // text-align: center;
        .nav-link{
            color: $light-primary;
            margin: 10px;
            padding: 7px 20px;
            text-decoration: none;
            font-weight: $font-weight-bold;
            &.resume{
                border-radius: 10px;
                background-color: $colorful-secondary;
                color: $dark-primary;
            }
            &.active{
                color: $colorful-secondary;
            }
        }
        .nav-link:nth-child(1){
            padding-left: 0;
            margin-left: 0;
        }
    }
}

