@import "../common/variables";

.intro-main {
  p {
    margin: 0;
    font-size: 1.1em;
    .colorful {
      color: $colorful-secondary;
      font-weight: $font-weight-bold;
    }

  }
  &.dark{
    p{
      color: $light-secondary;
      .colorful{
        color: $colorful-primary;
      }
    }
  }
}
