@import "../common/variables";

.experience-main {
  background-color: $dark-primary;
  .timeline {
    .entry {
      color: $light-secondary;
      fill: $light-secondary;
      padding-bottom: 20px;
      .job {
        .date {
          svg {
            text {
              font-size: 30pt;
              font-family: $font-family-secondary;
            }
          }
        }
        .info {
          .description {
              h3{
                margin: 10px 0;
                border-bottom: solid 2px;
              }
              div {
                h4{
                    margin: 5px 10px;
                }
                p{
                    margin: 5px 0;
                    font-weight: $font-weigh-light;
                }
            }
          }
        }
      }
      margin: 40px 0;
    }

    .entry:hover{
      .date, .logo{
        color: $colorful-secondary;
        fill: $colorful-secondary;
      }
      color: $light-primary;
      fill: $light-primary;
    }
    .entry:nth-child(3) {
      .date {
        position: relative;
        svg:nth-child(2) {
          position: absolute;
          left: 50%;
          height: 40px;
          top: -40px;
          transform: translateX(-50%)
        }
      }
    }
  }
}
