$colorful-secondary: #4cf68f; 
$colorful-primary: #ffee00; 
$colorful-tertiary: #55F2F2;
$dark-primary: #2f3b4a;
$dark-secondary: #000;
$light-primary: white;
$light-secondary: #ECF1F1;
$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Bungee', cursive;
$font-family-tertiary: 'CascadiaMono', monospace;
$font-weigh-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

:export{
    colorfulprimary: $colorful-primary;
    colorfulsecondary: $colorful-secondary ;
    colorfultertiary: $colorful-tertiary ;
    darkprimary : $dark-primary ;
    darksecondary: $dark-secondary ;
    lightprimary: $light-primary ;
    lightsecondary: $light-secondary ;
    fontfamilyprimary: $font-family-primary;
    fontfamilysecondary: $font-family-secondary;
    fontweighlight: $font-weigh-light;
    fontweightregular: $font-weight-regular ;
    fontweightmedium: $font-weight-medium ;
    fontweightbold: $font-weight-bold ;
    fontweightblack: $font-weight-black;
}