@import '../common/variables';

.values-main{
    .chart{
        text-align: center;
        svg{
            width: 100%;
            max-width: 500px;
            path{
                stroke: $light-primary;
                stroke-width: 5px;
            }
            text{
                font-family: $font-family-secondary;
                font-size: 30pt;
            }
            g:nth-child(5n+1){
                path{
                    fill: $colorful-primary;
                }
                text{
                    fill: $dark-primary;
                }
            }
            g:nth-child(5n+2){
                path{
                    fill: $light-secondary;
                }
                text{
                    fill: $dark-primary;
                }
            }
            g:nth-child(5n+3){
                path{
                    fill: $dark-primary;
                }
                text{
                    fill: $light-primary;
                }
            }
            g:nth-child(5n+4){
                path{
                    fill: $colorful-tertiary;
                }
                text{
                    fill: $dark-primary;
                }
            }
            g:nth-child(5n+5){
                path{
                    fill: $colorful-secondary;
                }
                text{
                    fill: $light-primary;
                }
            }
        }
    }
}