@import '../common/variables';

.values-main{
    .chart{
        // text-align: center;
        svg{
            width: 100%;
            max-width: 500px;
            path{
                stroke: $light-primary;
                stroke-width: 5px;
            }
            text{
                font-family: $font-family-secondary;
                font-size: 30pt;
            }
            g:nth-child(5n+1){
                path{
                    fill: $colorful-secondary;
                }
                text{
                    fill: $dark-primary;
                }
            }
            g:nth-child(5n+2){
                path{
                    fill: $dark-secondary;
                }
                text{
                    fill: $light-primary;
                }
            }
            g:nth-child(5n+3){
                path{
                    fill: $dark-primary;
                }
                text{
                    fill: $light-primary;
                }
            }
            g:nth-child(5n+4){
                path{
                    fill: $colorful-tertiary;
                }
                text{
                    fill: $dark-primary;
                }
            }
            g:nth-child(5n+5){
                path{
                    fill: $colorful-primary;
                }
                text{
                    fill: $light-primary;
                }
            }

            // text.light{
            //     fill: $light-primary;
            // }
            // text.dark{
            //     fill: $dark-primary;
            // }
        }
    }
    // .chart{
    //         background-color: lightblue;
    //         position: relative;
    //         height: 300px;
    //         .pie{
    //             // fill: transparent;
    //             position: absolute;
    //             .title{
    //                 fill: red;
    //                 stroke-width: 1px;
    //                 // stroke: red;
    //             }
    //         }
            // .container{
            //     height: 100%;
            //     position: relative;
            //     .pie{
            //         position: absolute;
            //         left: 0;
            //         top: 0;
            //         height: 100%;
            //         // height: 300px;
            //     }
            //     .title{
            //         position: absolute;
            //         left: 0;
            //         top: 0;
            //     }
            // }
            // .title{
            //     display: inline-block;
            // }
            // .pie{
            //     position: absolute;
            //     z-index: 0;
            // }
            // .title{
            //     position: absolute;
            //     color: red;
            //     top: 0;
            //     left: 0;
            //     z-index: 1;
            // }
    // }
}