@import "../common/variables";

.image-main {
  .image-wrapper {
    border-radius: 50%;
    background-color: $dark-primary;
    height: 270px;
    width: 270px;
    text-align: center;
    margin: 0 auto;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 99%;
      height: 99%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &.dark{
    .image-wrapper{
      background-color: $light-primary;
    }
  }
}
