@import "../common/variables";

.image-main {
  display: flex;
  height: 350px;
  width: 350px;
  .image-wrapper {
    display: flex;
    justify-content: center;
    clip-path: circle(153px at center);
    background-color: $colorful-primary;
    height: 100%;
    img {
      clip-path: circle(150px at center);
      width: 100%;
      transform: rotate(90deg);
      object-fit: cover;
    }
  }
}
